<div class="card">
    <p-stepper [activeStep]="1">
        <!--StepperModule-->
        <p-stepper-content></p-stepper-content>
        <p-stepper-header></p-stepper-header>
        <p-stepper-panel></p-stepper-panel>
        <p-stepper-separator></p-stepper-separator>
        <p-stepperContent></p-stepperContent>
        <p-stepperHeader></p-stepperHeader>
        <p-stepperPanel></p-stepperPanel>
        <p-stepperSeparator></p-stepperSeparator>
        
        <!--StepsModule-->
        <p-steps></p-steps>
    </p-stepper>
</div>